// app-calculator {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-flow: column nowrap;
//     border-radius: 10px;
//     margin-top: 2em;
//     max-width: 15em
// }

// :host {
//     border-radius: 10px;
//     overflow: hidden;
//     margin-top: 2em;
//     max-width: 15em;
// }

.calculatorButtons {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  flex-flow: column nowrap;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  border-radius: 10px;
  max-width: 15em;
  grid-template-areas:
      "sqrt  fraction log ."
      "seven eight nine   plus"
      "four  five  six    minus"
      "one   two   three  times"
      "c     zero  equals divide"
}

#plus {
  grid-area: plus;
}
#minus {
  grid-area: minus;
}
#times {
  grid-area: times;
}
#divide {
  grid-area: divide;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#fraction {
  grid-area: fraction;
}
#sqrt {
  grid-area: sqrt;
}
#log {
  grid-area: log;
}
#equals {
  grid-area: equals;
}
#c {
  grid-area: c;
}
