// app-calculator {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-flow: column nowrap;
//     border-radius: 10px;
//     margin-top: 2em;
//     max-width: 15em
// }

:host {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2em;
    max-width: 15em;
}

// app-calc-button {
//     border: solid;
// }

.wrap {
    background-color: black;
    border-radius: 10px
}

.calculatorButtons {
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    flex-flow: column nowrap;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px
}



// .calculatorButtons > * {
//     background-color: #fff;
//     text-align: center;
//     padding: 0.5em 1.25em;
//   }